# Ignore everything
*

# Root project files
!.editorconfig
!.gitignore
!Frisson.slnx
!nuget.config
!LICENSE

# Source code
!src/
!src/**
!setup.iss
!publish.py

# Demo 
!demo/
!demo/tetris.py

# GitHub Actions
!.github/
!.github/**

# Tests
!tests/
!tests/**
tests/**/bin/
tests/**/obj/

# Build outputs (re-ignore)
src/**/bin/
src/**/obj/
src/**/publish/
