# Ignore everything
*

# Root project files
!.editorconfig
!.gitignore
!Frisson.slnx
!nuget.config

# Source code
!src/
!src/**
!setup.iss
!publish.py

# Build outputs (re-ignore)
src/**/bin/
src/**/obj/
