# Ignore everything
*

# Root project files
!.editorconfig
!.gitignore
!Frisson.slnx
!nuget.config
!LICENSE

# Source code
!src/
!src/**
!setup.iss
!publish.py

# Demo scripts
!demo/
!demo/**

# Build outputs (re-ignore)
src/**/bin/
src/**/obj/
src/**/publish/
